.caixaAlerta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Ajuste a largura conforme necessário */
    padding: 20px;
    background-color: #E4E8F0;
    z-index: 1;
    border: none; /* Remove a borda */
    border-radius: 20px;
}

.caixaAlertaPai {
    display: flex;
    align-items: center;
    justify-items: center;
}