@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.caixaAlerta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;

}

.caixaAlerta button {
    margin:30px;
    padding: 5px;
    width: 70px;
}
.caixaAlertaPai {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Ajuste a largura conforme necessário */
    height: 150px;
    padding: 20px;
    background-color: #005594;
    z-index: 1;
    border: none; /* Remove a borda */
    border-radius: 20px;
    display: flex;
   
}

/*LOGIN*/
.caixaAlertaPaiLogin {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Ajuste a largura conforme necessário */
    padding: 20px;
    background-color: #005594;
    z-index: 1;
    border: none; /* Remove a borda */
    border-radius: 20px;
   
   
}

.caixaAlertaLogin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;

}

.caixaAlertaLogin button {
    margin:10px;
    padding: 5px;
    width: 70px;
}
