 /*Carousel*/


 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');



.carrossel{
  background-color:#ffffff;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 400px;
  position: relative;
  
  
}
.titulo-quadras{
  color: #78849E;
font-family: 'Montserrat', sans-serif;
width: 100%;
text-align: center;
position: absolute;
}

.img-quadras{
  padding-top: 50px;
  justify-content: center;
  display: flex;


}
.img-quadras img{
  margin: 10px;
  border-radius: 20px;
  width: 18%;
  
}

