 /*Carousel*/


 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');



.carrossel{
  justify-content: space-between;
  width: 100%;
  height: 300px;
  position: relative;
  
  
}
.titulo-quadras{
font-family: 'Montserrat', sans-serif;
padding-top: 40px;
padding-left: 80px;
position: absolute;
}

.img-quadras{
  padding-top: 100px;
  justify-content: space-between;
  display: flex;


}
.img-quadras img{
  margin-left: 80px;
  border-radius: 20px;
  width: 35%;
  
}

.img-quadras h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  width: 60%;
  height: 30px;
  justify-content: center;
  padding-top: 40px;
}

.botaoLocacao{  

  font-size: 15px;
  align-self: center;
  margin-left: 62%;
  position: absolute;
  margin-top: 100px;
  width: 35vh;
  height: 6vh;
 
}
