 /*Carousel*/


 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');



.carrossel{
  background-color:#ffffff;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 400px;
  position: relative;
  
  
}
body.dark .carrossel{
  background-color: #0E0E10;
  transition: background 0.5s linear, color 0.5s linear;
}

.titulo-quadras{
  color: #78849E;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;
  position: absolute;
  }

  body.dark .titulo-quadras{
    color: #E4E8F0;
    transition: background 0.5s linear, color 0.5s linear;
  }

.img-quadras{
  padding-top: 50px;
  justify-content: center;
  display: flex;


}
.img-quadras img{
  margin: 10px;
  border-radius: 20px;
  width: 18%;
  
}
.testimg.dark img{
  image: url("../img/CarrosselAberto.png");
}

