/*AZUL HOME - #005594  */
/*AZUL CLARO HOME - #2966F4  */
/* AZUL PARTE DE CIMA NAV - #115A90 */
/*CINZA LETRA - #78849E  */
/*CINZA BACKGROUND - #E4E8F0  */
/*LARANJA - #F78B1F  */
/*LARANJA CLARO - #F6BF86  */
/*AZUL CLARISSIMO - #29B7F4  */

/* DARK MODE CORES */

/* AZUL ESCURO CONTAINER - #121929  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; /*leva em conta o tamanho da borda e padding, não ultrapassando
    a proporção criada */
    transition: background 0.5s linear, color 0.5s linear;

}
body{
  background: #E4E8F0;
  font-family: 'Montserrat', sans-serif;
  
}

body.dark{
  background-color: #0E0E10; 
}

body.dark h3{  
    color: white ;
    
  }
  body.dark h1{  
    color: white ;
    
  }
  body.dark h2{  
    color: #F78B1F ;
    
  }

.logoQuick{

    size: 20px;
    height: 80px;
    padding-left: 30px;
    padding-top: 10px;
}

.container {
    display: flex;
    padding: 25px;
    margin-left: 40px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
  }


  body.dark .container{
    transition: background 0.5s linear, color 0.5s linear;

  }

  .header {
    background-color: #115A90;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 20px 20px;
  }

  body.dark .header{
    background-color: #18181B;
    transition: background 0.5s linear, color 0.5s linear;
    box-shadow: none;
  }

  
.header.logo-site{
    height: 500px;
}
 /* DARK MODE */

 .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }

  .main-locacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .img-locacao{
   
    
  }

  .img-locacao img{
    width: 150vh;
    height: 60vh;
    border-radius: 20px;
    margin-top: 10px;

  }

  .img-locacao h1{
   
    font-size: 250%;
    color:#78849E ;
    padding-top: 30px;
  }
  .img-locacao .dark h1{
 }
  .img-locacao h2{

    color: #115A90;
    font-size: 3vh;
  }

  .horarios{
    display: flex;
    justify-content: space-between;
    width: 100%;

    
  }
  
  .horarios h3{
    font-size: 3vh;
    color:#78849E;
    
  }

  .botao-pai{
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: 20vh;
    height: 5vh;
    background: #f78b1f;
    color: #fff;
    border: 0px solid #eee;
    border-radius: 5px;
    text-shadow: none;
    margin-top: 10px;
    margin-right: 2.5vh;

    }

    button:hover{

    background: #f1b477de;
    color: #fff;
    border: 0px solid #eee;
    border-radius: 9px;
    text-shadow: none;

    }