/*AZUL HOME - #005594  */
/*AZUL CLARO HOME - #2966F4  */
/* AZUL PARTE DE CIMA NAV - #115A90 */
/*CINZA LETRA - #78849E  */
/*CINZA BACKGROUND - #E4E8F0  */
/*LARANJA - #F78B1F  */
/*LARANJA CLARO - #F6BF86  */
/*AZUL CLARISSIMO - #29B7F4  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*leva em conta o tamanho da borda e padding, não ultrapassando 
    a proporção criada */
   
}
body{
  background: #E4E8F0;
}

.logoQuick{

    size: 20px;
    height: 125px;
    padding: 10px;
}
.container {
    display: flex;
    background-color: #005594;
    padding: 50px;
    border-radius: 0px 0px 20px 20px;
    position: relative;
    z-index: 1;
    justify-content: center;
  }
  
  .header {
    background-color: #115A90;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5); 
    position: relative; 
    z-index: 2;
  }
  

.header.logo-site{
    height: 50px;
}

.botoes-nav{
    height: 0%;
    display: flex;
    margin-right: 50px;
    margin-top: 25px;
}


.botao-login {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 12vh;
    height: 4vh;
    background: #f78b1f;
    color: #fff;
    border: 0px solid #eee;
    border-radius: 9px;
    text-shadow: none;
    margin: 20px;
    }

.botao-login a{
    text-decoration: none;
    color: white;
    border: 2px solid;
}

.botao-login:hover {
    background: #f78b1fde;
    color: #fff;
    border: 0px solid #eee;
    border-radius: 9px;
    text-shadow: none;
    }

.campo-busca{
    height: 0%;
   margin-right: 150px;
   display: flex
    
}

  
  .txtBusca{
    float:left;
    justify-content: center;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:300px;
    padding-left: 10px;
    margin-left: 50px;
    border-radius:15px;
    outline: none;
    box-shadow: inset 1px 2px 7px 2px rgba(0, 0, 0, 0.5); 
  }
 

  .botao-buscar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height:32px;
    width:70px;
    background: #f78b1f;
    color: #fff;
    border: 0px solid #eee;
    border-radius: 9px;
    text-shadow: none;
    margin-left: 100px;
  }

  .botao-buscar:hover {
    background: #f78b1fde;
    color: #fff;
    border: 0px solid #eee;
    border-radius: 9px;
    text-shadow: none;
    }