/*AZUL HOME - #005594  */
/*AZUL CLARO HOME - #2966F4  */
/* AZUL PARTE DE CIMA NAV - #115A90 */
/*CINZA LETRA - #78849E  */
/*CINZA BACKGROUND - #E4E8F0  */
/*LARANJA - #F78B1F  */
/*LARANJA CLARO - #F6BF86  */
/*AZUL CLARISSIMO - #29B7F4  */


.container-sobre{
    background-color:#E4E8F0;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    position: relative;

}

body.dark .container-sobre {
    background-color: #2b2b2b;
    transition: background 0.5s linear, color 0.5s linear;

}

.sobre-texto{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    color: #78849E;
    text-align: center;
    align-items: center;

}

body.dark .sobre-texto{
    color: #E4E8F0;
    transition: background 0.5s linear, color 0.5s linear;
}

.imgBloco{
    justify-content: center;
    display: flex;
  
  
  }
  .imgBloco img{
    margin: 10px;
    border-radius: 20px;
    width: 15%;
    align-items: center;
    
  }
  /* troca de img bloco*/
  
  .imagem-escura,
  .dark .imagem-clara {

    display: none;
  }
  
  .imagem-clara,
  .dark .imagem-escura {

    display: block;

  }
  

